In [3]:
# Regne ut absoluttverdien til ett tall:

## Absoluttverdi: |x| = x hvis x ≥ 0, |x| = −x hvis x < 0
## Hvis x er negativ, gjør det positivt. Hvis x er positiv, gjør det negativt. Ellers gjør nada.

'''
Pseudokode:

input x
if x < 0 then 
    x = -x
end if
output x
'''

# Her kommer python koden
x=-4
if x<0:
    x=-x
print(x)

4

In [6]:
# Beskriv en algoritme som regner avstanden mellom to heltall
## d(n,m) = |n-m|
## Hvis n er større enn m n-m, hvis ikke m-n.

'''
Pseudokode:
input n
input m
if n > m then
    d<- n-m
else:
    d<- m-n
output d
'''

# Her kommer python koden
n=3
m=7
if n>m:
    d=n-m
else:
    d=m-n
print(d)

4

In [8]:
# Beskriv en algoritme som regner tallet n! = 1 * 2 * 3 **** n ved hjelp av while ---do--- løkken.
## 5! = 1*2*3*4*5=120
## 10! = 1*2*3*4*5*6*7*8*9*10

'''
Pseudokode:
input n
i<-1
x<-1
while i<n do
    x<-x*i
    i<-i+1
output x
'''

# Her kommer python koden
n=50
i=1
x=1
while i<=n:
    x=x*i
    i=i+1
print(x)
print(i)

30414093201713378043612608166064768844377641568960512000000000000
51

In [10]:
# Beskrive en algoritme som regner tallet n! = 1*2*3****n ved hjelp av for--to--do løkken.

'''
Pseudokode:
input n
i<=1
x<=1
for i=1 to n do
    x <- x*i
output x
'''

# Her kommer python koden
n=10
x=1
i=1
for i in range(1,n):
    x=x*i
print(x)

362880

In [34]:
# Finne en algoritme for å finne ledd nr. n i følgen 1,1,2,3,5,8,13,21,34,55... av Fibonacci-tall.
## Summen av tallet er summen av de to foregående tallene. 1 1 2 3 5 8 13 21


'''
Pseudokode:
input n
an-2<-1
an-1<-1
an<-1

for i=3 to n do
    an<-an-1+an-2
    an-2<-an-1
    an-1<-an
output an
'''

# Her kommer python koden:
n=10
a_to=1
a_en=1
an=1
for i in range(2,n):
    an=a_en+a_to
    a_to=a_en
    a_en=an
print(an)

55

In [40]:
# SWAP: Finne en algoritme som bytter verdien på to variabler

'''
Pseudokode:
input x<-1
input y1-0

temp<-x
x<-y
y<-x

output x
output y
'''

# Python kode:

x=1
y=0

temp=x
x=y
y=temp

print(x)
print(y)

0
1

In [50]:
# Pseudokode: Collatz hypotese
## Anta du tar inn et positivt heltall n. Gjenta følgende inntil du får 1 eller mindre:
## 1. Hvis tallet er et partall, del med 2.
## 2. Hvis tallet er et oddetall, tredoble tallet og legg til 1.

'''
Pseudokode:
input n
while n>i do
    if(n er partall) then
        n<-n/2
    else 
        n<-3n+1
output n
'''

# Her kommer python koden
n=1000
while n>1:
    if (n%2)==0:
        n=n/2
    else:
        n=3*n+1
    print(n)

500.0
250.0
125.0
376.0
188.0
94.0
47.0
142.0
71.0
214.0
107.0
322.0
161.0
484.0
242.0
121.0
364.0
182.0
91.0
274.0
137.0
412.0
206.0
103.0
310.0
155.0
466.0
233.0
700.0
350.0
175.0
526.0
263.0
790.0
395.0
1186.0
593.0
1780.0
890.0
445.0
1336.0
668.0
334.0
167.0
502.0
251.0
754.0
377.0
1132.0
566.0
283.0
850.0
425.0
1276.0
638.0
319.0
958.0
479.0
1438.0
719.0
2158.0
1079.0
3238.0
1619.0
4858.0
2429.0
7288.0
3644.0
1822.0
911.0
2734.0
1367.0
4102.0
2051.0
6154.0
3077.0
9232.0
4616.0
2308.0
1154.0
577.0
1732.0
866.0
433.0
1300.0
650.0
325.0
976.0
488.0
244.0
122.0
61.0
184.0
92.0
46.0
23.0
70.0
35.0
106.0
53.0
160.0
80.0
40.0
20.0
10.0
5.0
16.0
8.0
4.0
2.0
1.0